# Access transformer replacing debugify.accesswidener (Fabric) for Forge 1.20.1
# Used by MC-237493 (telemetry fix) to access package-private inner classes.

# Options.FieldAccess - used to register the Debugify telemetry option into the options file
public net.minecraft.client.Options$FieldAccess
public net.minecraft.client.Options$FieldAccess process(Ljava/lang/String;Lnet/minecraft/client/OptionInstance;)V

# TelemetryEventWidget inner classes used when building telemetry content
public net.minecraft.client.gui.screens.telemetry.TelemetryEventWidget$ContentBuilder
public net.minecraft.client.gui.screens.telemetry.TelemetryEventWidget$Content
